.App {
  max-width: 500px;
  margin: auto;
  padding: 42px 24px;
  text-align: center;
}

.stockEvent {
  text-align: start;
  margin: 12px 0;
  border: 2px solid #eee;
  padding: 24px;
}

.alert {
  position: relative;
  right: 5px;
}
